
<section class="list" :class="type">
  <md-list v-if="type !== 'contact' && type !== 'group'">
    <Item :type="type"/>
  </md-list>
  <md-list v-if="type === 'group'">
        <Item v-for="item in contacts" :contact="item" :type="type"/>
  </md-list>
  <md-list v-if="type === 'contact'">
      <md-list-item md-expand md-expanded>
        <span class="md-list-item-text"><span>People</span>
        <md-button @click.stop="add" class="md-icon-button md-list-action" :md-ripple="false">
            <md-icon class="md-primary">add_circle</md-icon>
        </md-button>
        </span>
        <md-list slot="md-expand">
            <Item v-for="item in people" :room="item" type="people"/>
        </md-list>
      </md-list-item>
      <md-list-item md-expand md-expanded>
          <span class="md-list-item-text"><span>Rooms</span>
          <md-button @click.stop="add" class="md-icon-button md-list-action" :md-ripple="false">
                <md-icon class="md-primary">add_circle</md-icon>
          </md-button>
          </span>
          <md-list slot="md-expand">
              <Item  v-for="item in rooms" :room="item" type="rooms"/>
          </md-list>
      </md-list-item>
    </md-list>

</section>
