
<section class="room-header">
  <div class="title">
      <md-avatar class="md-avatar-icon">{{name ? name[0].toUpperCase() : 'E'}}</md-avatar>
      <span>{{name ? name : 'Empty room'}}</span>
  </div>
  <div class="toolbar">
      <md-button class="md-icon-button"><md-icon>settings</md-icon></md-button>
      <md-button @click="openQRcode" class="md-icon-button"><md-icon>share</md-icon></md-button>
      <md-button class="md-icon-button"><md-icon>apps</md-icon></md-button>
      <md-button @click="openSearch" class="md-icon-button"><md-icon>search</md-icon></md-button>
      <div class="divider"></div>
      <md-tabs @md-changed="tabSelect">
        <md-tab id="tab-person" md-icon="person"></md-tab>
        <md-tab id="tab-files" md-icon="insert_drive_file"></md-tab>
        <md-tab id="tab-notifications" md-icon="notifications"></md-tab>
      </md-tabs>
      <md-badge class="md-primary" v-if="count" :md-content="count" md-dense></md-badge>
  </div>
</section>

