
.tox-area {
    text-align: left;
    width: 100%;
    &__content{
        height: calc(100% - 60px);
        max-height: 100%;
        width: 100%;
        min-width: 300px;
        overflow: auto;
        &__item{
            margin: 10px 0px;
            max-width: 45%;
            display: flex;
            align-items: flex-start;
            & .avatar{
                margin: 0px 20px;
            }
        }
    }
    &__input{
        height: 60px;
        width: 100%;
        .md-field{
            margin: 0px;
            background: white;
        }
        .md-field.md-has-textarea:not(.md-autogrow):after, .md-field.md-has-textarea:not(.md-autogrow):before {
            border:unset;
            border-top:1px solid var(--md-theme-default-border-accent);
            border-bottom:1px solid var(--md-theme-default-border-accent);
        }
        & textarea{
            padding-top: 0px!important; 
            min-height: 44px!important;
            height: 44px!important;
            resize: none!important;
        }
    }
}