<section class="tox-area">
  <md-content class="tox-area__content" v-chat-scroll="{always: false, smooth: true, scrollonremoved: true}">
    <md-content
      class="tox-area__content__item"
      v-for="(item, index) in content"
    >
      <div
        class="avatar"
        v-if="index === 0 || content[index-1].author !== item.author"
      >
        <md-avatar class="md-avatar-icon">{{
          item.author[0].toUpperCase()
        }}</md-avatar>
        <div class="name">{{ item.author }}</div>
      </div>
      <div class="content" :class="item.status">
        <span>{{
          new Date(item.date).toLocaleTimeString('en-US', {
            hour: '2-digit',
            minute: '2-digit'
          })
        }}</span>
        <div class="msg">{{ item.value }}</div>
      </div>
      <template v-if="typingContact && content.length-1 === index" >
          <div class="avatar">
            <md-avatar class="md-avatar-icon">{{
              typingContact.name[0].toUpperCase()
            }}</md-avatar>
            <div class="name">{{ typingContact.name }}</div>
          </div>
          <div class="content">
              <span>{{
                  new Date().toLocaleTimeString('en-US', {
                    hour: '2-digit',
                    minute: '2-digit'
                  })
                }}</span>
            <div class="msg typing">typing</div>
            <div class="wave">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
          </div>
        </template>
    </md-content>
  </md-content>
  <div class="tox-area__input">
    <md-field>
      <md-textarea
        v-on:keydown.enter.prevent="submit"
        v-model="message"
        name="chat"
        id="chat-input-textarea"
        style="width: 80%"
        placeholder="Enter message here..."
      ></md-textarea>
    </md-field>
  </div>
</section>
