
<section class="account">
    <md-avatar class="md-avatar-icon">D</md-avatar>
  
        <span>dluchko</span>
  
        <md-menu md-size="big" :md-offset-x="-190" :md-offset-y="0">
            <md-button class="md-icon-button" md-menu-trigger><md-icon class="md-primary">arrow_drop_down</md-icon></md-button>
      
            <md-menu-content>
              <md-menu-item>My Item 1</md-menu-item>
              <md-menu-item>My Item 2</md-menu-item>
              <md-menu-item>My Item 3</md-menu-item>
            </md-menu-content>
          </md-menu>
</section>

