<section class="item" @click="click">
  <template v-if="type === 'friend' || type === 'conference' && !contact">
    <md-list-item :class="type">
      <md-avatar
        class="md-avatar-icon"
        :class="type !== 'conference' ? status.toLowerCase() : ''"
        >{{ room.name[0].toUpperCase() }}</md-avatar
      >
      <span class="md-list-item-text">{{ room.name }}</span>
      <md-button class="md-icon-button md-list-action">
        <md-icon>more_vert</md-icon>
      </md-button>
    </md-list-item>
  </template>

  <template v-if="type === 'group' && !selectedContact && contact.name">
    <md-list-item :class="type">
      <md-avatar class="md-avatar-icon">{{
        contact.name[0].toUpperCase()
      }}</md-avatar>
      <span class="md-list-item-text">{{ contact.name }}</span>
      <md-button class="md-icon-button md-list-action">
        <md-icon>keyboard_arrow_right</md-icon>
      </md-button>
    </md-list-item>
  </template>

  <template
    v-if="type === 'group' && selectedContact && (selectedContact.public_key === contact.public_key || selectedContact.tox_id === contact.tox_id)"
  >
    <md-list-item :class="'group_detail'">
      <md-button
        @click.stop="click('stop')"
        class="md-icon-button md-list-action"
      >
        <md-icon>keyboard_arrow_left</md-icon>
      </md-button>
      <md-list class="detail">
        <md-subheader>Tox ID</md-subheader>
        <md-list-item>
          <md-field>
            <md-input
              v-model="contact.public_key || contact.tox_id"
              readonly
            ></md-input>
          </md-field>
        </md-list-item>
        <md-subheader>Name</md-subheader>
        <md-list-item>
          <span class="md-list-item-text">{{ contact.name }}</span>
        </md-list-item>
        <md-subheader>Status</md-subheader>
        <md-list-item>
          <span class="md-list-item-text">{{ contact.status_message }}</span>
        </md-list-item>
      </md-list>
    </md-list-item>
  </template>

  <template v-if="type === 'files'">
    <md-list-item :class="type">
      <a class="md-list-item-text"><span>File Name</span><span>75KB</span></a>
      <span class="md-list-item-text"
        ><span>Abbey Christansen</span><span>12:34</span></span
      >
    </md-list-item>
  </template>

  <template v-if="type === 'notifications'">
    <md-list-item :class="type">
      <a class="md-list-item-text">
        <span class="title" v-if="notification.type === 'invite'"
          >Invite Group</span
        >
        <span class="title" v-if="notification.type === 'friend'"
          >Friend Request</span
        >
        <span v-if="senderName" class="sender">
          <md-avatar class="md-avatar-icon">{{
            senderName[0].toUpperCase()
          }}</md-avatar>
          <span>{{ senderName }}</span>
        </span>
        <div class="btn-group" v-if="notification.type === 'invite' || notification.type === 'friend'">
          <md-button @click.stop="acceptNotification" class="md-icon-button md-primary"><md-icon class="md-primary">check</md-icon></md-button>
          <md-button @click.stop="deleteNotification" class="md-icon-button md-accent"><md-icon class="md-accent">close</md-icon></md-button>
        </div>
        <span v-if="notification.type === 'ref' || notification.type === 'friend'" class="message">
          <span v-if="notification.type === 'ref'">
            <md-avatar class="md-avatar-icon">D</md-avatar>
            <span>dluchko</span>
          </span>
          {{notification.msg}}
        </span>
      </a>
    </md-list-item>
  </template>
</section>
