.sidebar {
    min-width: 250px;
    background-color:var(--md-theme-default-default);
    border-right: 1px solid var(--md-theme-default-border-primary);
    border-left: 1px solid var(--md-theme-default-border-primary);
}
.md-tabs{
    max-width: 270px;
    height: 100%;
    background: transparent;
}
.md-tab {
    height: 100%;
    padding: 0px;
}